@page
@model ParserPlanBastard.Pages.BecomeAnAdminModel
@{
}
 <form enctype="multipart/form-data"
              method="post">
    <div class="mb-3">

                <input type="text"  class="form-control"  asp-route="Custom" id="error" name="buttonText" />
                <input type="submit" class="btn btn-success mb-5" value="Go, baby"/>

    </div>


</form>
